<div class="header">
  <div class="search">
  <fa-icon [icon]="famagnifyingglass"></fa-icon>
  <p>Search</p>
  </div>
  <div class="language">
    <div>ENG</div>
    <fa-icon [icon]="facaretdown"></fa-icon>
  </div>
  <div class="tools">
    <fa-icon [icon]="facommentdots"></fa-icon>
    <fa-icon [icon]="fabell"></fa-icon>
  </div>
  <div class="user-section">
    <img src="https://images.pexels.com/photos/2681751/pexels-photo-2681751.jpeg?auto=compress&cs=tinysrgb&w=400"
      alt="" />
    <span class="user-name">Camille Stevenson</span>
    <fa-icon [icon]="facaretdown"></fa-icon>
  </div>

</div>